footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    min-height: 50vh;
    color:antiquewhite;
    background-color: rgb(12, 12, 54);
    border-top: 1px double antiquewhite;
    
}

footer section{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding-left: 5em;
    padding-top: 3em;
    padding-bottom: 3em;
    min-width: 300px;
}

footer h2{
    text-align: left;
}