.library-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2em;
    padding-top: 3em;
    padding-bottom: 3em;
    background-image: url("../images/home/vehicles.jpg");
    
}

.library-container a{
    width:60vw;
    color:gold;
    font-size: 2.4em;
    padding-left: 1em;
    padding-right: 1em;
    background-color:rgba(1,1,1,0.5);
} 

.paging-buttons span{
  font-size: 2.4em;
}

.hidden{
 display: none;
}

.shown{
    display:inline;
}

@media (max-width:500px) {
    .library-container a{
        width:90vw;
    }
}